# Database
MYSQL_HOST="mysql"
MYSQL_PORT="3306"
MYSQL_USER="gex_user"
MYSQL_PASSWORD="gex_pass"
MYSQL_DATABASE="gex_test"
MYSQL_ROOT_PASSWORD="root_pass"

# RabbitMQ
RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT="5672"
RABBITMQ_USER="gex"
RABBITMQ_PASSWORD="gex12345"

# Secret Key
GRUMMER_SECRET_KEY="bd8fe643a6e1b725db136104efebe450243ed7ef6c6a755ab9b2315fb648f153"

# SMS Distributor
# site externo
# SMS_WEBHOOK_URL="https://sms-api.free.beeceptor.com"

# Mock SMS
SMS_WEBHOOK_URL="http://api:8000/mock/sms"

# Failure SMS
# 0.10 = 10% de falha aleatória (requisito do desafio)
# 1.00 = 100% de falha (teste de retry + DLQ)
SMS_FAILURE_RATE=0.10
# SMS_FAILURE_RATE=1